<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zlt.mapper.CategoryMapper" >
  <resultMap id="BaseResultMap" type="com.zlt.entity.CategoryEntity" >
    <id column="cid" property="cid" jdbcType="VARCHAR" />
    <result column="cname" property="cname" jdbcType="VARCHAR" />
  </resultMap>

  <select id="findAll" resultMap="BaseResultMap">
    SELECT cid,cname FROM category
  </select>

</mapper>