<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zlt.mapper.ProductMapper" >
    <resultMap id="BaseResultMap" type="com.zlt.entity.ProductEntity" >
        <id column="pid" property="pid" jdbcType="VARCHAR" />
        <result column="pname" property="pname" jdbcType="VARCHAR" />
        <result column="market_price" property="market_price" jdbcType="DOUBLE" />
        <result column="shop_price" property="shop_price" jdbcType="DOUBLE" />
        <result column="pimage" property="pimage" jdbcType="VARCHAR" />
        <result column="pdate" property="pdate" jdbcType="TIMESTAMP" />
        <result column="is_hot" property="is_hot" jdbcType="INTEGER" />
        <result column="pdesc" property="pdesc" jdbcType="VARCHAR" />
        <result column="pflag" property="pflag" jdbcType="INTEGER" />
        <result column="cid" property="cid" jdbcType="VARCHAR" />
    </resultMap>

    <select id="findProductByPage" resultMap="BaseResultMap">
    SELECT pid,pname,market_price,shop_price,pimage,pdate,is_hot,pdesc,pflag,cid FROM product limit #{startIndex},#{pageSize}
  </select>

</mapper>